name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Backend
      run: docker build -f Dockerfile.backend -t style-transfer-backend .

    - name: Build Frontend  
      run: docker build -f Dockerfile.frontend -t style-transfer-frontend .

  test:
    runs-on: ubuntu-latest
    needs: build

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install backend dependencies
      run: |
        cd style-transfer-backend
        pip install -r requirements.txt

    - name: Run linter (Quality Gate)
      run: |
        pip install pylint
        pylint --fail-under=7.0 style-transfer-backend

  deploy:
    runs-on: ubuntu-latest
    needs: test
    if: github.ref == 'refs/heads/main'

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build and push to Docker Hub (заглушка)
      run: echo "Deploy step completed (simulated for lab)"